@font-face {
    font-family: eurostile-extended, sans-serif;
    font-weight: 400;
    font-style: normal;;
    src: url(https://use.typekit.net/sdb0tcc.css);
}
    

body{
    font-family: eurostile-extended, sans-serif;
    font-size: 5rem;
    color: #3EE13A;
    position: relative;
    top: -6rem;
    /* margin: 0rem; */
}

#prompt{
    position: relative;
    top: 40rem;
    z-index: 10;
  

}





img{
    width: 100px;
    position: relative;

}

#input{
    width: 400px;
    border-color: #3EE13A;
    position: relative;
    top: 20rem;
}
