@font-face {
    font-family: eurostile-extended, sans-serif;
    font-weight: 400;
    font-style: normal;;
    src: url(https://use.typekit.net/sdb0tcc.css);
}
    

body{
    font-family: eurostile-extended, sans-serif;
    font-size: 4rem;
    color: #3EE13A;

    /* margin: 0rem; */
}

#prompt{
    position: relative;
    /* position: sticky; */
    top: 10rem;
    z-index: 10;
    text-align: center;
    height: 50px;

}


button{
    font-family: eurostile-extended, sans-serif;
    position: fixed;
    top: 30rem;
    left: 43%;
    width: 15rem;
    background-color: #3EE13A;
    color: white;
    border: none;
    z-index: 100;
    font-size: 2rem;

}


img{
    width: 3%;
    position: relative;
    display: inline-block;
    top: -3rem;
    line-height: 0px;
    
   

}

#input{
    width: 400px;
    border-color: #3EE13A;
    position: relative;
    top: 20rem;
    z-index: 200;
    position: fixed;
    left: 35%;
}

@media only screen and (max-width: 1250px) {
    img { 
        width: 3.5%;
    }
    body{
        font-size: 3.5rem;
    }
    button{
        width: 12rem;
        font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 1050px) {
    img { 
        width: 4.5%;
    }
    body{
        font-size: 3rem;
    }
    button{
        width: 10rem;
        font-size: 1.3rem;
    }
  }
  @media only screen and (max-width: 900px) {
    img { 
        width: 5%;
    }
    body{
        font-size: 2.5rem;
    }
  }

  @media only screen and (max-width: 800px) {
    button{
        left: 38%;
    }
}