@font-face {
    font-family: eurostile-extended, sans-serif;
    font-weight: 400;
    font-style: normal;;
    src: url(https://use.typekit.net/sdb0tcc.css);
}
    

body{
    font-family: eurostile-extended, sans-serif;
    font-size: 5rem;
    color: #3EE13A;
    margin: 3rem;
}


img{
    width: 100px;
}

#input{
    width: 400px;
    border-color: #3EE13A;
    position: relative;
    top: 5rem;
}

#prompt{
    position: relative;
    padding-top: 10%;
    text-align: center;

}



.circle {
    display:inline-block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
}

button{
    
}